<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <link rel="stylesheet" href="/doc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Glow | Image</title>
</head>
<body>
    <nav>
        <h2 class="nav-brand"><a href="/index.html" class="nav-link nav-link link">GlowCss</a></h2>
        <ul class="nav-list">
            <li class="nav-item"><a href="/index.html" class="nav-link nav-link link">Getting Started</a></li>
            <li class="nav-item"><a href="/doc.html" class="active nav-link nav-link link">Documentation</a></li>
            <li class="nav-item"><a href="https://github.com/purvasharmadev/glow-css" class="nav-link nav-link link">Github</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <!-- COLUMN-1 -->
        <section class="col-1 sidebar">
            <h4>Quick Start</h4>
            <a class="btn nav-link link" href="/doc.html">Installation</a>
            <a class="btn link" href="/Components/Text-Utilities/text.html">Typography</a>

            <h4>Components</h4>
            <a class="btn nav-link link " href="/Components/Alert/alert.html">Alerts</a>
            <a class="btn nav-link link" href="/Components/Avatar/avatar.html">Avatar</a>
            <a class="btn nav-link link" href="/Components/Badge/badge.html">Badge</a>
            <a href="/Components/Button/button.html" class="btn nav-link link">Button</a>
            <a class="btn nav-link link" href="/Components/Cards/card.html">Cards</a>
            <a class="btn nav-link link active" href="/Components/Image/image.html">Image</a>
            <a class="btn nav-link link" href="/Components/Input/input.html">Input</a>
            <a class="btn link" href="/Components/List/list.html">List</a>
            <a class="btn link " href="/Components/Modal/modal.html">Modal</a>
            <a class="btn link" href="/Components/List/list.html">Rating</a>
            <a class="btn link" href="/Components/Snackbar/snackbar.html">Snackbar</a>
        </section>

        <!--COLUMN-2  -->
        <section class="col-2 section-doc">
                <h2>Images</h2>
                <p> 
                    Responsive Image Components are used to dsiplay Images on websites, which are screen responsive. They expand upto the width of the container they are in.
                </p>
                <p><span class="highlight">Note:</span> Resize the browser window to see responisve property. </p>
            <hr>
            <div class="container">
            <h3>Responsive Image</h3>
            <img src="/Assets/rm-nature.jpg" class="img-responsive"  alt="responsive-img" srcset="">

            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">img</span> src = <span class="c-attr">"img.png"</span> <span
                        class="c-class">class</span> =
                    <span class="c-attr">"img-responsive"</span> alt = "..." &gt;
                    <br>
                </code>

            </div>    


            <h3>Rounded Image</h3>
            <img src="/Assets/demo-pic.jpg" class="img-rounded img-responsive" alt="rounded-img" srcset="">

            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">img</span> src = <span class="c-attr">"img.png"</span> <span
                        class="c-class">class</span> =
                    <span class="c-attr">"img-rounded img-responsive"</span> alt = "..." &gt;
                    <br>
                </code>

            </div>
        </div>
        <footer>
            <a class="btn highlight" href="/Components/Cards/card.html"><< Card </a>          
            <a class="btn highlight" href="/Components/Input/input.html"> Input >> </a>  
        </footer>    
        <a href="#top" class="btn-to-top btn-float"><i class="fa fa-arrow-circle-o-up btn-float"></i></a>
        </section>
    
</body>
</html>
