<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <title>Image</title>
</head>
<body>
        <!-- Images -->

        <h2>Images</h2>
        <!-- Responsive Image -->
        <h3>Responsive Image</h3>
        <img src="/Assets/rm-nature.jpg" class="img-responsive" alt="developer" srcset="">
        <br>
        <h3>Rounded Image</h3>
        <img src="/Assets/developer.png" class="img-rounded img-responsive" alt="developer" srcset="">

    
</body>
</html>
