@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100&family=Sacramento&display=swap');


@import "/Components/Alert/alert.css";
@import "/Components/Avatar/Avatar.css";
@import "/Components/Badge/badge.css";
@import "/Components/Button/button.css";
@import "/Components/Cards/card.css";
@import "/Components/Image/image.css";
@import "/Components/Input/input.css";

/* #7e22ce   #a78bfa   */

:root{
    /* Main Colors */
    --PRIMARY-COLOR:#374151;
    --SECONDARY-COLOR:#6B7280;
    --BACKGROUND-COLOR:#F3F4F6;
    --TEXT-COLOR:white;
    --BRAND-COLOR:#b16cee;
    /* Component Colors */
    --DANGER-COLOR:#dc2626;
    --SUCESS-COLOR:#65a30d;
    --INFO-COLOR:#2563eb;
    --WARNING-COLOR:#ca8a04;
    /* Font-Family */
    --MAIN-FONT:'Merriweather', serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--MAIN-FONT);
}

.container{
    margin: auto;
    max-width: 900px;
}

.flex-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* flex-direction: column; */
}