@import "/Components/Alert/alert.css";
@import "/Components/Badge/badge.css";


:root{
    /* Main Colors */
    --PRIMARY-COLOR:#701a75;
    --SECONDARY-COLOR:#a855f7;
    --BACKGROUND-COLOR:YELLOW;
    --TEXT-COLOR:#e9d5ff;

    /* Component Colors */
    --DANGER-COLOR:#dc2626;
    --SUCESS-COLOR:#65a30d;
    --INFO-COLOR:#2563eb;
    --WARNING-COLOR:#ca8a04;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;
    max-width: 900px;
}