@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@100&family=Sacramento&display=swap');
@import url(/utility.css);


/* Text Utilities */
@import "/Components/Text-Utilities/text.css";
/* Grid */
@import "/Components/Grid/grid.css";
/* Alert */
@import "/Components/Alert/alert.css";
/* Avatar */
@import "/Components/Avatar/Avatar.css";
/* Badge */
@import "/Components/Badge/badge.css";
/* Button */
@import "/Components/Button/button.css";
/* Card */
@import "/Components/Cards/card.css";
/* Image */
@import "/Components/Image/image.css";
/* Input */
@import "/Components/Input/input.css";
/* Snackbar */
@import "/Components/snackbar/snackbar.css";
/* Modal */
@import "/Components/Modal/modal.css";


:root{
    /* Main Colors */

    --PRIMARY-COLOR:#374151;
    --SECONDARY-COLOR:#6B7280;
    --BACKGROUND-COLOR:#F3F4F6;
    --TEXT-COLOR:white;
    --BRAND-COLOR:#b16cee;

    /* Component Colors */

    --DANGER-COLOR:#dc2626;
    --SUCESS-COLOR:#65a30d;
    --INFO-COLOR:#2563eb;
    --WARNING-COLOR:#ca8a04;
    
    /* Text Colors */
    --GRAY-COLOR: grey;
    --BLACK-COLOR: black;

    /* Font-Family */
    
    --MAIN-FONT:'Open Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--MAIN-FONT);
}
