/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    color: var(--TEXT-COLOR);
    background-color: var(--PRIMARY-COLOR);

}
.nav-brand{
    margin: 0 1rem;
}
.nav-list{
    margin:0 1rem ;
    padding: 0rem;
    list-style:none;
    display:flex;
    justify-content:center;
    align-items: center;
    /* border: solid; */
    height: 4rem;
    flex-wrap: wrap;
}
.nav-item{
    padding:0rem 1rem;
}

/* Landing page */
main{
    margin-top: 4em;
    padding: 6rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



main h1{
    font-size: 3rem;
    color: #133b4f;
    letter-spacing: 1.5px;
    margin: 0;
}

main h2{
    font-size: 1.5rem;
    color: var(--SECONDARY-COLOR);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

main p{
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    line-height:2.094rem;
    margin-top: 0;
    margin: 1.95rem 0;
}
.content-left{
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    height: auto;
}
.content-right{
    width: 50%;
    height: auto;
}

.hero-img{
    max-width: 41.875rem;
    height: auto;
}

/* Documentation Page */

.main-container{
    margin-top: 2rem;
    height: 100%;
    width: 100%;
}
.col-1{
    padding: 1rem 0rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
    background-color: var(--BACKGROUND-COLOR);
}

.sidebar{
    position: fixed;
    top: 4rem;
    bottom: 0;
    height: auto;
    z-index: 1;
    overflow: auto;
}
.sidebar h4{
    margin: 5px 5px;
    color: var(--SECONDARY-COLOR);
}

.sidebar .btn-link{
    color: var(--PRIMARY-COLOR);
    margin: 0rem 1rem;
}

.sidebar .btn-link:hover{
    border:2px solid;
}

.col-2{
    margin-left: 12rem;
    padding: 2rem;
}

.section-doc{
    height: auto;
    overflow: auto;
}

.section-doc h2{
    color: var(--PRIMARY-COLOR);
    letter-spacing: 2px;
}

.section-doc p{
    color: var(--SECONDARY-COLOR);
    letter-spacing: 2px;
    word-spacing: 5px;
    line-height: 2rem;
}

.section-doc footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlight{
    color: var(--PRIMARY-COLOR);
    font-weight: bold;
    border-bottom:1px solid var(--SECONDARY-COLOR);
    letter-spacing: 1.5px;
    margin: 0 1.5px;
}

.col-2 .container-highlight{
    border: solid;
    margin:2rem auto;
    background-color: var(--BACKGROUND-COLOR);
    color: var(--PRIMARY-COLOR);
    text-align: center;
    padding: 2rem;   
}

.col-2 .container-code{
    background-color: var(--PRIMARY-COLOR);
    color: var(--TEXT-COLOR);
    font-size: 1rem;
    font-weight: 400;
    overflow: auto;
    text-align: justify;
}


.c-div{
    color: var(--DANGER-COLOR);
}
.c-class{
    color: var(--INFO-COLOR);

}
.c-attr{
    color: var(--WARNING-COLOR);

}

/* Badge */
.badge-container{
    display: flex;
    height: auto;
    width: 25%;
    justify-content:space-between;
    /* flex-direction: row; */
}

.link{
    text-decoration: none;
    color: var(--SECONDARY-COLOR);
    font-weight: bold;
}

.btn-to-top{
    z-index: 3;
    position: fixed;
    bottom: 0;
    right: 10px;
    overflow-x: hidden;
}


/* MEDIA QUERIES */
@media (max-width:600px){
    nav{
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .nav-items{
        margin-left: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav-link{
        font-size: 1rem;

    }
    .main-container{
        margin-top: 3rem;
    }

    .sidebar{
        display: none;
    }
    .col-2{
        margin: 0;
    }

    main{
        margin-top:4rem;
        flex-wrap: wrap-reverse;
    }
    .content-left{
        width: 100%;
    }

}
