<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <title>Input</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
</head>
<body>
    <div class="container">

        <h1>Input</h1>

        <!-- TextArea -->
        <div class="input-container">
            <h2>Textarea</h2>
            <textarea class="input input-textarea" name="input-textarea" id="#teaxArea" placeholder="Enter a comment"></textarea>
            <button class="btn btn-icon input-btn-left"><i class="fa fas fa-comment">Comment</i></button>
        </div>
        <br>
        <!-- Form -->
        <!-- Login Form -->
        <div class="input-container">
            <form action="" class="form-container">
                <h2>Login Form</h2>
                <label for="username">Name</label>
                <input type="text" name="username" placeholder="Enter your name">
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Enter you email">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your Password" >
                <button class="btn btn-primary-outline btn-icon input-btn-left"><i class="fa fas fa-instagram">Log In</i></button>
            </form>
        </div>
        <br>
        
            <!-- Error input -->
            <div class="input-container card">
                <form action="" class="form-container">
                    <h2>Error input</h2>
                    <label for="username">Name</label>
                    <input class="error" type="text" name="username" placeholder="Enter you name" value="wrong value">
                    <p class="error-msg">* please enter correct value</p>
                    <button class="btn btn-primary input-btn-left">Log In</button>
                </form>
            </div>

    </div>
    
</body>
</html>