<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <title>Button</title>
</head>
<body>
    
    <!-- Buttons -->
    <h1>Buttons</h1>
    <button class="btn">Default Button</button>
    <button class="btn btn-primary">Primary Button</button>
    <button class="btn btn-secondary">Secondary button</button>
    <button class="btn btn-primary-outline">Primary Outline</button>
    <button class="btn btn-secondary-outline">Secondary Outline</button>
    <button class="btn btn-primary" ><a class="btn-link" href="#">link</a></button>

    <!-- Buttons with icons -->
    <h1>Icon Button</h1>
    <button class="btn  btn-icon"><i class="fa fas fa-home"></i></button>
    <button class="btn btn-icon"><i class="fa fa-bars"></i></button>
    <button class="btn btn-icon"><i class="fa fa-home"></i> Home</button>
    <button class="btn btn-icon"><i class="fa fa-bars"></i> Menu</button>

    <!-- Float Buttons -->
    <h1>Float Button</h1>
    <button class="btn-float"><i class="fa fa-arrow-circle-o-up btn-float"></i></button>
    <button class="btn-float"><i class="fa fa-plus-circle btn-float"></i></button>

</body>
</html>