.btn{
    border: none;
    border-radius:5px;    
    background-color: none;
    cursor: pointer;
    font-weight: 200;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
}

.btn-primary{
    background-color: var(--PRIMARY-COLOR);
    color: var(--TEXT-COLOR);
}

.btn-secondary{
    background-color: var(--SECONDARY-COLOR);
    color: var(--TEXT-COLOR);
}

.btn-danger{
    background-color: var(--DANGER-COLOR);
    color: var(--TEXT-COLOR);
}
.btn-info{
    background-color: var(--INFO-COLOR);
    color: var(--TEXT-COLOR);
}
.btn-warning{
    background-color: var(--WARNING-COLOR);
    color: var(--TEXT-COLOR);
}



/* Link */
.link{
    text-decoration: none;
    /* color: var(--PRIMARY-COLOR); */
    font-weight: bold;
}
.link:hover{
    border-bottom: 2px solid var(--PRIMARY-COLOR);
}

.active{
    color: var(--TEXT-COLOR);
    font-weight: bolder;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--SECONDARY-COLOR);
}


/* Outline */
.btn-primary-outline{
    border: 1px solid var(--PRIMARY-COLOR);
    color: var(--PRIMARY-COLOR);
}

.btn-secondary-outline{
    border: 1px solid var(--SECONDARY-COLOR);
    color: var(--SECONDARY-COLOR);
}


/* Icon */
.btn-icon{
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: var(--PRIMARY-COLOR);
}

/* Float */
.btn-float{
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--PRIMARY-COLOR);
    font-size: 2.5rem;
}


/* Hover Classes */
.btn-primary:hover{
    background-color:#490c83 ;
}

.btn-secondary:hover{
    background-color:#490c83 ;
}
.btn-danger:hover{
    background-color: #490c83;

}
.btn-info:hover{
    background-color: #490c83;

}
.btn-warning:hover{
    background-color: #490c83;
}
.btn-primary-outline:hover{
    background-color: var(--PRIMARY-COLOR);
    color: var(--TEXT-COLOR);
}

.btn-secondary-outline:hover{
    background-color: var(--SECONDARY-COLOR);
    color: var(--TEXT-COLOR);
}

.btn-icon:hover{
    background-color: var(--SECONDARY-COLOR);
    color: var(--TEXT-COLOR);
}

.btn-float:hover{
    box-shadow: 0px 0px 8px 0px var(--BACKGROUND-COLOR) ;

}
