.avatar{
    border: solid;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-square{
    border: solid;
    border-radius: 10%;
    object-fit: cover;
}

.avatar-sm{
    height: 3.75rem;
    width: 3.75rem
}

.avatar-md{
    height:5.625rem;
    width: 5.625rem;
}

.avatar-lg{
    height: 8.125rem;
    width: 8.125rem;
}

