<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <title>Card</title>
</head>
<div>
    <h1>Cards</h1>
    <div class="container flex-container">
        <!-- Only Text card -->
          <h3>Card with Text</h3>
                <div class="card">
                     <div class="card-body">
                        <h3 class="card-heading">Card</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi voluptatibus inventore illum maiores dolorum, sunt quis tenetur quae nulla voluptas?
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, magnam.</p>
                      </div>
                 </div>
                           
        <!-- Simple Card -->
        <h3>Simple card</h3>
        <div class="card">
            <div class="card-header">
                <img src="/Assets/developer.png" alt="developer" srcset="">
            </div>
            <div class="card-body">
                <h3 class="card-heading">Card</h3>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, magnam.</p>
                <div class="card-footer">
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>

        <!-- Simple card with badge -->
        <h3>Simple Card with Badge</h3>
        <div class="card">
            
            <div class="card-header">
                <span class="card-badge"><i class="fa fas fa-heart"></i></span>
                <img src="/Assets/developer.png" alt="developer" srcset="">
            </div>
            <div class="card-body">
                <h3 class="card-heading">Card</h3>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, magnam.</p>
                <div class="card-footer">
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>

        <!-- Simple Card with Dismiss -->
        <h3>Simple Card with Dismiss</h3>
        <div class="card">
            <div class="card-header">
                <span class="card-badge">&times;</span>

                <img src="/Assets/developer.png" alt="developer" srcset="">
            </div>
            <div class="card-body">
                <h3 class="card-heading">Card</h3>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, magnam.</p>
                <div class="card-footer">
                    <button class="btn btn-primary">Primary</button>
                    <button class="btn btn-secondary">Secondary</button>
                </div>
            </div>
        </div>


        <!-- Product card -->
        <h3>Ecommerce card</h3>
        <div class="card ecom-card">
            <div class="card-header">
                <img src="/Assets/developer.png" alt="developer" srcset="">
            </div>
            <div class="card-body">
                <h3 class="card-heading">Product Name</h3>
                <p class="card-text">Rs. 1999 only. <span class="ecom-card-price">Rs. 2999</span> </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-secondary">Secondary</button>
            </div>
        </div>

                <!-- E-com card with badge-->
                <h3>Ecommerce card with badge</h3>
                <div class="card ecom-card">
                    <div class="card-header">
                        <span class="card-badge"><i class="fa fas fa-heart"></i></span>
                        <img src="/Assets/developer.png" alt="developer" srcset="">
                    </div>
                    <div class="card-body">
                        <h3 class="card-heading">Product Name</h3>
                        <p class="card-text">Rs. 1999 only. <span class="ecom-card-price">Rs. 2999</span> </p>
                            </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Primary</button>
                        <button class="btn btn-secondary">Secondary</button>
                    </div>
                </div>

                <!-- Horizontal card -->
                <h3>Horizontal card</h3>

                <div class="card">
                    <div class="card-flex">
                        <div class="card-header">
                            <img src="/Assets/developer.png" alt="developer" srcset="">
                         </div>
                        <div class="card-body">
                            <h3 class="card-heading">Product Name</h3>
                            <p class="card-text">Rs. 1999 only. <span class="ecom-card-price">Rs. 2999</span> </p>
            
                        <div class="card-footer">
                            <button class="btn btn-primary">Primary</button>
                            <button class="btn btn-secondary">Secondary</button>
                        </div>
    
                     </div>
                    </div>
                </div>
                
            <!-- Card with text overlay -->
            <h3>Card with text overlay</h3>
            <div class="card">
                <div class="card-header card-overlay">
                    <img src="/Assets/developer.png" alt="developer" srcset="">
                    <div class="card-body">
                        <h3 class="card-heading">Card-Title</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, alias!</p>
                    </div>
                </div>
            </div>                
</div>
 

</body>
</html>