.card{
    /* margin: 1rem; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: var(--BACKGROUND-COLOR);
    font-family: var(--MAIN-FONT);
    overflow: hidden; 
    height: max-content;
    width:18.75rem;
    text-align: justify;
}

.card-header{
    /* margin: 1rem; */
    padding:1rem 1rem;
}

.card-header img{
    max-width: 100%;
    border-radius: 5px; 
}

.card-body{
    margin: 0;
    padding: 0.5rem 1rem;
}

.card-body .card-heading{
    color: var(--PRIMARY-COLOR);
    padding: 0;
    margin: 0;
}

.card-body .card-text{
    padding: 0;
    margin-top: 0;
    color: var(--SECONDARY-COLOR);
}

.card-footer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* Card Badge */
.card-badge{
    background-color: none;
    float: right;
    /* margin-top: 1rem; */
    font-size: 2rem;

}
.ecom-badge{
    background-color:var(--PRIMARY-COLOR);
    color: var(--TEXT-COLOR);
    border:1px solid;
    cursor: pointer;
    float: left;
    font-size: 1rem;
    /* font-weight: bold; */
    padding:0.2rem 1rem;
    text-align: center;
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    margin-left:-1rem;
}

.card-badge::after{
    clear: both;
} 


/* Product Card */
.ecom-card{
    text-align: center;
}

.ecom-card .card-footer{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.ecom-card button{
    display: block;
    margin-bottom: 1rem;
}

.ecom-card-price{
    text-decoration: line-through;
}


/* Horizontal Card */
  .flex-card {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    border-radius: 10px;
  }
  .column {
    flex-basis: 100%;
    padding: 1rem;
  }
  .column img {
    border-radius: 10px;
  }
  .column h3 {
    letter-spacing: 2px;
  }
  .column p {
    text-align: justify;
    text-transform: capitalize;
  }
  
.flex-card .btn{
    padding:9px;
}

/* Card With Overlay */
.card-overlay{
    position: relative;
    box-sizing: border-box;
}

.card-overlay .card-body{
    background-color: var(--SECONDARY-COLOR);
    opacity: 0.9;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-overlay .card-text{
    color: black;
    font-size: 2rem;
    font-weight: bolder;
    /* margin: -1rem; */

}



.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-badge:hover{
    color: red;
}

@media (max-width:600px){
    .flex-card{
        flex-basis: 100%;
    }
    .flex-card .btn{
        padding: 8px ;
    }
}