<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/component.css">

    <title>Badge</title>
</head>
<body>
    <h1>Badge</h1>
    <span class="badge">
        badge with text <span class="badge-right">7</span>
    </span>
    <br>
    <span class="badge">
        badge with text on left <span class="badge-left">7</span>
    </span>
    <br>
    <span class="badge">
        badge on a icon <i class="fa fa-home"></i> <i class="fa fas fa-warning badge-right"></i>
    </span>
    <br>
    <span class="badge">
        <img src="/Assets/developer.png" class="avatar-img" alt="" srcset=""> <span class="badge-status">🔴</span>
    </span>

</body>
</html>