.badge{
    position: relative;
    padding: 0.5rem;
}

.badge-right{
    position: absolute;
    top: 0;
    right: 0;
}

.badge-left{
    position: absolute;
    top: 0;
    left: 0;
}

.badge-status{
    position: absolute;
    border-radius: 50%;
    color: var(--SUCESS-COLOR);
}

.badge-status-lg{
    bottom: 1.913rem;
    right: 0.5rem;
    font-size: 1.4rem;
}

.badge-status-md{
    bottom: 1.913rem;
    right:0.2rem;
    font-size: 1rem;

}

.badge-status-sm{
    bottom: 1.5rem;
    right:0.2rem;
    font-size: 0.8rem;
}

.badge-circle{
    border-radius: 50%;
    background-color: tomato;
    padding: 1px;
    margin-bottom: 1rem;
}

.badge-circle-yellow{
    border-radius: 50%;
    background-color: rgb(252, 255, 71);
    padding: 1px;
    margin-bottom: 1rem;
}

.badge-span{
    padding: 1rem;
}

.badge-icon{
    /* border: solid; */
    padding: 0px 2px;
}