<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <title>Alert</title>
</head>
<body>
    <h1>Alert</h1>

    <!-- Alert Danger -->
    <div class="alert alert-danger">
        <span class="alert-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Danger! Indicates a dangerous or potentially negative action.
    </div>

    <!-- Alert Sucess -->
    <div class="alert alert-sucess">
        <span class="alert-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Success! Indicates a successful or positive action.
    </div>

    <!-- Alert Info -->
    <div class="alert alert-info">
        <span class="alert-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Info! Indicates a neutral informative change or action.
    </div>

    <!-- Alert Warning -->
    <div class="alert alert-warning">
        <span class="alert-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
        Warning! Indicates a warning that might need attention.
    </div>

</body>
</html>