<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/component.css">
    <link rel="stylesheet" href="/doc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Glow | Alert</title>
</head>

<body>
    <nav>
        <h2 class="nav-brand"><a href="/index.html" class="nav-link nav-link link">GlowCss</a></h2>
        <ul class="nav-list">
            <li class="nav-item"><a href="/index.html" class="nav-link nav-link link">Getting Started</a></li>
            <li class="nav-item"><a href="/doc.html" class="active nav-link nav-link link">Documentation</a></li>
            <li class="nav-item"><a href="https://github.com/purvasharmadev/glow-css" class="nav-link nav-link link">Github</a></li>
        </ul>
    </nav>
    <div class="main-container">
        <!-- COLUMN-1 -->
        <section class="col-1 sidebar">
            <h4>Quick Start</h4>
            <a class="btn nav-link link" href="/doc.html">Installation</a>

            <h4>Components</h4>
            <a class="btn nav-link link active " href="/Components/Alert/alert.html">Alerts</a>
            <a class="btn nav-link link" href="/Components/Avatar/avatar.html">Avatar</a>
            <a class="btn nav-link link" href="/Components/Badge/badge.html">Badge</a>
            <a href="/Components/Button/button.html" class="btn nav-link link">Button</a>
            <a class="btn nav-link link" href="/Components/Cards/card.html">Cards</a>
            <a class="btn nav-link link" href="/Components/Image/image.html">Image</a>
            <a class="btn nav-link link" href="/Components/Input/input.html">Input</a>
        </section>
        <!--COLUMN-2  -->
        <section class="col-2 section-doc">
            <h2>Alerts</h2>
            <p>Alerts can be used to show or notify a short message to a user without interrupting the user's task.
            </p>
            <p>
                <span class="highlight">Note:</span> By default the alert component takes the full width of the parent
                element.
            </p>
            <hr>

         <div class="container">
            <!-- Alert Danger -->

            <h3>Alert Danger</h3>
            <div class="alert alert-danger">
                Danger! Indicates a dangerous or potentially negative action.
            </div>
            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-danger"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                </code>
            </div>

            <!-- Alert Sucess -->
            <h3>Alert Sucess</h3>
            <div class="alert alert-sucess">
                Success! Indicates a successful or positive action.
            </div>

            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-sucess"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                </code>
            </div>

            <!-- Alert Info -->
            <h3>Alert Info</h3>
            <div class="alert alert-info">
                Info! Indicates a neutral informative change or action.
            </div>
            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-info"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                </code>
            </div>

            <!-- Alert Warning -->
            <h3>Alert Warning</h3>
            <div class="alert alert-warning">
                Warning! Indicates a warning that might need attention.
            </div>
            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-warning"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                </code>
            </div>

            <!-- Dismissable Alert -->
            <h3>Dismissable Alert</h3>
            <div class="alert alert-info">
                Warning! Indicates a warning that might need attention.
                <span class="alert-close-btn" onclick="this.parentElement.style.display='none';">&times;</span>

            </div>
            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-info"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">span</span> <span class="c-class">"alert-close-btn"</span>
                    onclick="this.parentElement.style.display='none';"&gt; &times; &lt;<span
                        class="c-div">/span</span>&gt;
                    &lt;<span class="c-div">/div</span>&gt;
                </code>
            </div>

            <!-- Alert Warning -->
            <h3>Alert with Outline</h3>
            <div class="alert alert-warning-outline">
                Warning! Indicates a warning that might need attention.
            </div>
            <br>
            <div class="alert alert-info-outline">
                Info! Indicates a neutral informative change or action.
            </div>
            <br>
            <div class="alert alert-sucess-outline">
                Success! Indicates a successful or positive action.

            </div>
            <br>
            <div class="alert alert-danger-outline">
                Danger! Indicates a dangerous or potentially negative action.
            </div>
            <br>
            <div class="container container-highlight container-code">
                <code>
                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-warning-outline"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                    <br>

                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-info-outline"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                    <br>

                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-sucess-outline"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                    <br>

                    &lt;<span class="c-div">div</span> <span class="c-class">class</span> = <span class="c-attr"> "alert
                        alert-danger-outline"</span>&gt;
                    Lorem ipsum dolor sit.
                    &lt;<span class="c-div">/div</span>&gt;
                    <br>
                </code>
            </div>
         </div>


         <footer>
            <a class="btn highlight" href="/doc.html">
                << Installation</a> <a class="btn highlight" href="/Components/Avatar/avatar.html">Avatar >>
            </a>
         </footer>
         <a href="#top" class="btn-to-top btn-float"><i class="fa fa-arrow-circle-o-up btn-float"></i></a>
        </section>
        </div>

</body>

</html>